@page "/highScores"

<PageTitle>High Scores</PageTitle>

<div class="highScore_menu_container">
	<h1 class="highScore_title">High Scores</h1>
	<div>
		@for(int i= 0; i < 10; i ++)
		{
			<div class="highScore_line">
				<p class="highScore_text">HighScore top 10 </p>
				<p class="highScore_text"> 10</p>
			</div>
		}
	</div>
	<a class="standard_button" href="/snakeGame">Play</a>
	<a class="standard_button" href="/">Main Menu</a>
</div>