@page "/"

<PageTitle>Main Menu</PageTitle>

<div class="main_menu_container">
	<h1 class="main_menu_title">Snake Game</h1>
	<a class="standard_button" href="/snakeGame">Start</a>
	<a class="standard_button" href="/highScores">High Scores</a>
</div>