.main_menu_container {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 90vh;
    width: 80%;
    max-width: 50rem; 
    margin: 0 auto;
    margin-top: var(--size-base);
    border-radius: var(--size-base);
}

.main_menu_title {
    font-size: var(--size-7xl);
}
